@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;1,400&family=Raleway:wght@100&display=swap');

body {
    background-color:rgb(253, 251, 251); 
}

#cabecalho {
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: pink;
    font-family: 'Raleway', sans-serif;
}

.pt-1-apresentacao {
    margin-right: 80%;
    margin-left: 0%;
    line-height: 23px;


}
.pt-2-apresentacao-title {
    margin-top: 50px;
    text-align: center;
}


.pt-2-apresentacao {
margin-right: 0%;
margin-top: 50px;
}


#licoes_a_aprender {

}
#titulo-aprender {

}

#licoes-aprendidas-title{

    
}

#licoes_aprendidas {
 

}
#aprendidas {
    float: left;
    margin-left:2%;
}
#quero-aprender{
margin-left: 60%;
margin-right: 15%;
margin-top: 25px;

}

h2 {
    color: pink;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(139, 46, 77);
    text-shadow: 2px rgb(218, 162, 171);
    
}
img {
    width: 250px;
    height: auto;
    float: left;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }

    footer {
        font-size: 50%;
    }