@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;1,400&family=Raleway:wght@100&display=swap');

body {
background-color: rgb(253, 251, 251);
}

#cabecalho {
top: 0%;
position: fixed;
background-color: rgb(139, 46, 77);
color: pink;
font-family: 'Raleway';
height: 78px;
}

.links {
    float: right;
    margin-left: 600px;
    margin-right: 5px;
    color: black;
}
#titulo {
   text-align: center;
}
.pt-1-apresentacao {
    margin-right: 80%;
    margin-left: 0%;
    line-height: 23px;
}
.pt-2-apresentacao-title {
    margin-top: 78px;
    text-align: center;
}


.pt-2-apresentacao {
margin-right: 0%;
margin-top: 50px;
}

 /*#licoes_a_aprender {}

#licoes_aprendidas {} */
#licoes-aprendidas-title{ 
margin-left: -4%;
margin-right: 0%;
float: left;
height: 29px;
width: 650px;
}
            
#titulo-aprender {
    float: left;
    height: 35px;
    margin-left:auto;
}

#aprendidas {
   float: left;
    margin-left: 2%;

}

#quero-aprender {
margin-left: 0%;
margin-right: 0%;
margin-top: 25px;
}

h2 {
    color: pink;
    font-family: 'Raleway';
    background-color: rgb(139, 46, 77);
    text-shadow: 2px rgb(218, 162, 171);}
img {
    width: 250px;
    height: auto;
    float: left;
}
    /* #aprendizado {} */

#aprendizado-title {
        margin-left: 2%;
        margin-right: 25%;
        float: left;
        margin-top: 10px;
}

.lado-esquerdo {
            margin-left: 0%;
            margin-right: 39%;
            float: right;
            width: 40%;
            text-align: center;
            
}

/* #passagem-importante */

.titulo-passagem-importante {
        margin-right: 0%;
        margin-top: 10px;

    }

.lado-direito {
            margin-left: 65%;
            margin-right: 0%;
            width: 35%;
            margin-top: 0px;
            text-align:center;
            display:block;
            
        }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }

footer {
        font-size: 50%;
        text-align: center;
    }